/* general styling */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

figure, ul, blockquote {
    padding: 5px;
    margin: 0;
}

/* layout */
/* small screens */
@media (max-width: 426px){
    body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    header, main, footer {
        grid-column: 2 / -2;
    }
}